.view-id-engineered_systems_detail {
  @include pie-clearfix;

  .view-content {
    width: 100%;
    margin: 30/16*1em 0;

    @media all and (min-width: $media_luke) {
      width: 450/16*1em;
      float: left;
    }

    @media all and (min-width: $media_vader) {
      width: 550/16*1em;
    }

    @media all and (min-width: $media_jabba) {
      width: 600/16*1em;
    }

    @media all and (min-width: $media_atat) {
      width: 650/16*1em;
    }
  }

  .heading, .content {
    padding: 16/16*1em;
  }

  .heading {
    background-color: $color_blue;
    color: $color_white;
    font-weight: 700;
    border-top: 1px solid $color_white;
    cursor: pointer;

    &:first-of-type {
      border-top: 0;
    }

    &.active {
      background-color: #becada;
      color: $color_blue;
    }
  }

  .content {
    background-color: #e2e7ed;
    box-sizing: border-box;
    padding: 16/16*1em;

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .view-footer {
    margin-top: 30/16*1em;

    @media all and (min-width: $media_luke) {
      float: left;
      margin-left: 30/16*1em;
      width: 200/16*1em;
    }

    @media all and (min-width: $media_vader) {
      width: 220/16*1em;
    }

    @media all and (min-width: $media_jabba) {
      width: 240/16*1em;
    }

    @media all and (min-width: $media_atat) {
      width: 280/16*1em;
    }

    h3 {
      font-size: 24/16*1em;
      color: $color_blue;
      margin: 0;
      line-height: 30/24*1em;
    }

    p {
      color: $color_blue;
      margin-bottom: 8/16*1em;
    }

    h4 {
      margin: 10/16*1em 0;
      text-transform: uppercase;
      color: $color_orange;
    }

    .button {
      @include button-responsive;
    }
  }
}
