#footer-wrapper {
  background: $color_blue url('../images/pattern-bg.png') repeat top left;

  .menu-block-wrapper {
    ul {
      li {
        a {
          font-size: 14/16*1em;
          color: $color_white;
        }
      }
    }
  }
}
