#footer-wrapper {
  background: $color_blue url('../images/footer-bg.jpg') repeat top left;

  .facebook {
    display: block;
    font-size: 14/16*1em;
    color: $color_white;
    text-decoration: none;

    &:hover {
      color: $color_gray;
    }

    &:after {
      content: "";
      position: relative;
      @include sprite-background('vgi-facebook');
      display: inline-block;
    }
  }

  #block-menu-block-3 {
    @include pie-clearfix;
    margin-top: 10/16*1em;

    @media all and (min-width: $media_vader) {
      margin-top: 20/16*1em;
    }

    &:before {
      @include sprite-background('vgi-technology-logo');
      position: relative;
      content: "";

      @media all and (min-width: $media_vader) {
        float: left;
      }
    }
  }

  .menu-block-wrapper {
    margin-top: 20/16*1em;

    @media all and (min-width: $media_vader) {
      margin: 0 0 0 20/16*1em;
      padding-top: 55/16*1em;
      display: inline-block;
      float: left;
    }

    ul {
      li {
        list-style: none;

        @media all and (min-width: $media_luke) {
          display: inline-block;
          margin-right: 20/16*1em;
        }

        a {
          font-size: 14/16*1em;
          text-transform: uppercase;
          text-decoration: none;
          color: $color_white;

          &:hover {
            color: $color_gray;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 10/16*1em;
    color: $color_gray;
    clear: both;
    margin-top: 20/10*1em;
  }

  #footer {
    h4 {
      font-size: 16/16*1em;
      margin: 8/16*1em 0;
      color: $color_white;
      font-weight: normal;
    }

    address {
      font-size: 14/16*1em;
      line-height: 22/14*1em;
      color: $color_gray;
      font-style: normal;
      margin-bottom: 10/14*1em
    }

    h4.contact,
    a {
      margin: 0;
      display: block;
      font-size: 14/16*1em;
      color: $color_orange;
      text-decoration: none;
    }
  }
}
