.block.menu-button {
  float: right;
  margin-top: 17/16*1em;
  margin-right: 10/16*1em;

  a.menu-button {
    @include sprite-background(menu-button);
  }
}

.primary-navigation {
  clear: both;
  position: relative;
  top: 4/16*1em;
  margin-bottom: 13/16*1em;
  display: none;

  &.open {
    display: block;
  }

  > .menu-block-wrapper > .menu-wrapper {
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        display: block;
        margin: 0;
        padding: 0;

        a {
          font-size: 1em;
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          border-bottom: 1px solid $color_lighter_blue;
          color: $color_blue;
          padding: 14/16*1em;
          line-height: 1.1em;
          background-color: $color_light_gray;

          &:hover {
            background-color: $color_blue !important;
            color: $color_light_gray !important;
          }
        }

        &:first-child a {
          border-radius: 8/16*1em 8/16*1em 0 0;
        }

        &:last-child a {
          border-bottom: none;
          border-radius: 0 0 8/16*1em 8/16*1em;
        }

        &:hover {
          > .menu-wrapper > ul {
            display: block;
          }
        }

        > .menu-wrapper > ul {
          display: none;

          > li {
            display: block;
            margin: 0;
            padding: 0;

            > a {
              padding-left: 24/16*1em;
              border-bottom: 1px solid $color_light_gray;
              background-color: darken($color_light_gray, 10%);
            }

            &:hover {
              > .menu-wrapper > ul {
                display: block;
              }
            }

            > .menu-wrapper > ul {
              display: none;

              > li {
                display: block;
                margin: 0;
                padding: 0;

                > a {
                  background-color: darken($color_light_gray, 20%);
                  padding-left: 36/16*1em;
                  border-bottom: 1px solid $color_light_gray;
                }
              }
            }
          }
        }
      }
    }
  }
}
