sites/default/files
sites/default/private
sites/default/settings.php
files/
robots.txt
.DS_Store
.sass-cache/
sprites-*.png
sprites2x-*.png
*.swp
*.swo
sites/all/themes/main/css
sites/all/themes/main/images
sites/all/themes/main/js/script.js
sites/all/themes/main/src/css
*.sublime-project
*.sublime-workspace
dbbackup
node_modules
