.no-sidebars {
  #top-bar-inner,
  #header-inner,
  #content-inner,
  .breadcrumb ol,
  .region-sub-footer,
  #footer {
    padding: 6/16*1em $gutter_mobile;
    max-width: $media_atat;
    margin: 0 auto;

    @media all and (min-width: $media_ewok) {
      padding: 6/16*1em $gutter_tablet;
    }

    @media all and (min-width: $media_vader) {
      padding: 6/16*1em $gutter_desktop;
    }
  }

  .breadcrumb ol {

  }
}
